/* Import the "parent' styles */
@import url('style-thinkup.css');

/* The default color for body text is *way* too light */
body {
  color: #444;
}

/* This is a *huge* amount of padding */
.blog-style1 {
  padding: inherit;
}

/* Let's remove that WordPress Stats Smiley Face !
   Source: http://richardshepherd.com/how-to-remove-the-smiley-face-from-your-wordpress-blog/ */
img#wpstats { 
  display: none; 
}

/* Remove border from post index */
.blog-style1 {
  border: none;
}
/* Tweaks to the appearance of the All in One Events Calendar widget */
.ai1ec-agenda-widget-view .ai1ec-date-title,
.ai1ec-agenda-view .ai1ec-date-title,
.ai1ec-agenda-widget-view .ai1ec-month,
.ai1ec-agenda-view .ai1ec-month {
  border-radius: 0;
}
.ai1ec-agenda-widget-view .ai1ec-event > a {
  /*border: 1px solid white;*/
  border: none;
}
.ai1ec-today .ai1ec-event > a {
  background-color:inherit;
}

/* Adjust vertical alignment of CAPTCHA in footer contact form */
img#footer-captcha {
  vertical-align: middle;
}
/* Fix vertical alignment of header logo */
#logo {
  margin: 14px 0 0;
}
/* Move first header link all the way to the left (line up with logo) */
#pre-header .header-links > ul > li:first-of-type > a {
  padding-left: 0;
}

/* Unrepentantly cribbed from http://demo.thinkupcloud.com/minamaze2/ */
#slider .rslides-content {
  background: url('images/overlay.png') repeat scroll center center transparent;
}
#slider .rslides-content .featured-title span {
  padding: 10px 15px;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.2);
}
#slider .rslides-content .featured-excerpt span {
  padding: 10px 15px;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4);
}
#slider .featured-link > a {
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6);
}

/* Turns out this was going to be really difficult to fix in code (would
   require modifications to the Redux framework). Sorry */
/* li#rslides1_s0 .featured-link > a::after {
  content: 'View Schedule \00BB';
} */

/* Replace "Read More" (which is a localized string that's hard coded in the
 * function that draws the homepage slider) with "Details Â". */
li .featured-link > a::after {
  content: 'Details \00BB';
}

li .featured-link > a span {
  display:none;
}

/* Custom social icons (added by ernstki and not in the parent theme) */
#pre-header-social li.github a:hover {
  /* Source: https://assets-cdn.github.com/assets/ */
	background: #4183C4;
}

#pre-header-social li.email a:hover,
#pre-header-social li.contactform a:hover {
  background: #999;
}

/* Dig useful styles out of the "pre-made" home page of the parent theme */
#content .section {
  display: block;
  max-width:400px;
  margin:1em auto; 
  background: none repeat scroll 0% 0% #FFF;
  padding: 10px;
  border: 1px solid #E0E0E0;
  transition: all 0.3s ease 0s;
  text-align: center;
}
#content .entry-content {
  padding-top: 20px;
}
#content .more-link {
  padding: 5px 10px;
}
.more-link:after {
  content: '\00BB';
  padding-left: 5px;
}

/* Source: https://css-tricks.com/on-target */
:target div.textwidget input,
:target div.textwidget textarea {
  animation: highlight 2.5s 1;
}

@keyframes highlight {
  70% {
    background-color: rgba(173,173,173,0.3);
    box-shadow: 0 0 5px rgba(173,173,173,0.6);
  }
}
